@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<div class="jumbotron">
    <h1>春晨客户信息管理系统</h1>
    <p class="lead">该系统主要职责于管理宿州春晨健康俱乐部的客户信息.</p>
    <p><a href="Home/Default" class="btn btn-primary btn-lg">登入系统 &raquo;</a></p>
</div>
