@using ChunChen_CRM.Model
@model IPagedList<CustomerDetailModel>
@{
    Layout = null;
}


<div id="searchresults">
    <ul>
        @foreach (var item in Model.Data)
        {
            <li>@item.Name</li>
        }
    </ul>
</div>