@{
    ViewBag.Title = "联系方式";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    刘晨<br />
</address>

<address>
    <strong>Phone:</strong>   +86 15665699774<br />
    <strong>Email:</strong>   <a href="mailto:757891685@qq.com">757891685@qq.com/a>
</address>